@import "./pages/login-page.scss";
@import "./pages/dashboard.scss";
@import "./navigation/navbar.scss";
@import "./pages/boxshadow.scss";
@import "./pages/coin-flip.scss";
@import "./pages/dice-roll.scss";
@import "./pages/about.scss";

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
